/* CSS File ID: 6283001cvbs902 */

.tool_button {
  border-style: solid;
  border-width: 2px;
  border-color: #66023c;
  color: 66023c;
  background-color: white;
  padding: 8px;
  font-size: 24px;
  font-family: 'Comfortaa', sans-serif;
}
.tool_button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #66023c;
  color: white;
  background-color: #66023c;
  padding: 8px;

  box-shadow: 6px 4px #590235; 
  font-family: 'Comfortaa', sans-serif;

}
